.pocetna-container {
  background-color: #ebdcb9 !important; 
  min-height: calc(100vh - 90px - 80px); 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 100%;
}

.glavni-naslov {
  color: #6a7495; 
  font-size: 100px; 
  font-weight: bold;
  margin: 0;
  font-family: 'sans-serif', Arial;
}

.zapocni-dugme {
  background-color: #7b84a1; 
  color: #ebdcb9; 
  font-size: 28px;
  font-weight: bold;
  padding: 15px 60px;
  border: none;
  border-radius: 20px; 
  cursor: pointer;
  transition: background 0.2s;
}

.zapocni-dugme:hover {
  background-color: #6a7495;
}