.pocetna-container {
  background-color: #e0cdb2 !important; 
  min-height: calc(100vh - 90px - 80px); 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 100%;
}

.glavni-naslov {
  color: #6c739c; 
  font-size: 130px; 
  font-weight: bold;
  margin: 0;
  font-family: "Josefin Sans", Halvetica; 
}

.zapocni-dugme {
  background-color: #6c739c; 
  color: #e0cdb2; 
  font-size: 28px;
  font-weight: bold;
  padding: 15px 60px;
  border: none;
  border-radius: 20px; 
  cursor: pointer;
  transition: background 0.2s;
}

.zapocni-dugme:hover {
  background-color: #6c739c;
}